---
layout: layouts/project
tags: project-tool
---

<div class="text text-center">
	<img class="mt-3" style="width: 700px;" src="https://gitlab.com/fennifith/ktordocs/raw/main/.meta/images/exampleEndpoint.png">
	<h3 class="mb-0">Automated Documentation</h3>
	<p class="mt-0">Provide comprehensive API documentation with minimal effort!</p>
</div>

===

<div class="row">
	<div class="col-12 col-lg-8 order-lg-2">
{% capture codeblock %}
```kt
get("/api/v1/example") {
    docs {
        title = "Hello World"
        desc = "Says hello to the world."
    }

    call.respondText("Hello world!")
}
```
{% endcapture %}
{{ codeblock | markdownify }}
	</div>
	<div class="col-12 col-lg-4 py-3 align-self-center text-center text-lg-start">
		<h3>Minimal API</h3>
		<p>Inline documentation helps to explain your code and ensure consistency with the implementation.</p>
	</div>
</div>

===

<div class="row">
	<div class="col-12 col-lg-4 order-lg-2 align-self-center text-center">
		<img class="mt-3 m-lg-3" style="width: 150px;" src="/images/ic/markdown-mark.svg">
	</div>
	<div class="col-12 col-lg-8 py-3 align-self-center text-center text-lg-start">
		<h3>Markdown Support</h3>
		<p>Uses the <a href="https://github.com/commonmark/commonmark-java">commonmark-java</a> implementation to render any markdown syntax.</p>
	</div>
</div>


