---
layout: layouts/project
tags: project-app
---

<h3>Tempo Slider</h3>
<p>Swipe in either direction to change the tempo, or press the arrows for a more precise adjustment.</p>

<h3>Emphasized Beats</h3>
<p>Use the +/- buttons to add or remove beats, then select them to add emphasis.</p>

<h3>Multiple Sounds</h3>
<p>Use the dropdown menu at the top of the screen to select a sound.</p>

<h3>Bookmarks</h3>
<p>Press the bookmark icon in the bottom right of the screen to save a tempo for easy access.</p>

<h3>Themes</h3>
<p>Change the theme of the application with the dropdown at the bottom of the about section.</p>
