---
layout: layouts/project
tags: project-fun
---

<div class="text text-center">
	<img height="500" src="/images/screenshots/nil.jpeg" />
	<h3 class="mb-0">Coming soon...</h3>
	<p class="mt-0">NIL is currently a work in progress, and this page will be updated once it reaches a testing phase.</p>
</div>

===

<div class="text text-center">
	<i class="material-icons" style="font-size: 100px;">shape_line</i>
	<h3 class="mb-0">Full Multi-threading</h3>
	<p class="mt-0">
		The application uses Rust's thread safety utilities to enable parallel processing of almost all game logic.
	</p>
</div>

===

<div class="text text-center">
	<i class="material-icons" style="font-size: 100px;">interests</i>
	<h3 class="mb-0">Model Instancing</h3>
	<p class="mt-0">
		WGPU provides a modern rendering pipeline that enables instancing of model geometry for a performance advantage.
	</p>
</div>

===

<div class="text text-center">
	<i class="material-icons" style="font-size: 100px;">animation</i>
	<h3 class="mb-0">Keyframe Animation</h3>
	<p class="mt-0">
		An animation buffer is used to interpolate positions and vertices of any on-screen object.
	</p>
</div>
