---
layout: base
pagination:
  data: git.docs
  size: 1
  addAllPagesToCollections: true
permalink: "projects/{{ pagination.items[0].id }}/docs/{{ pagination.items[0].path }}.html"
eleventyComputed:
  title: "{{ pagination.items[0].title }} Docs"
---

{% for docs in pagination.items %}
<div class="bg-dark">
	<div class="container my-3">
		<a class="link me-0" href="/projects/">
			<span class="link-title">Projects</span>
		</a>
		<a class="link me-0" href="/projects/{{ docs.id }}/">
			{% include "ic/chevron_right.svg", class: "link-img" %}
			<span class="link-title">{{ docs.title }}</span>
		</a>
		<a class="link me-0" href="/projects/{{ docs.id }}/docs/">
			{% include "ic/chevron_right.svg", class: "link-img" %}
			<span class="link-title">Docs</span>
		</a>
		{% assign currentPage = docs.path | split: '/' | last %}
		{% unless currentPage == 'index' %}
		<a class="link" href="/projects/{{ docs.id }}/docs/">
			{% include "ic/chevron_right.svg", class: "link-img" %}
			<span class="link-title">{{ currentPage }}</span>
		</a>
		{% endunless %}
	</div>
</div>

<div class="container text mt-3 mb-5">
	{{ docs.content | markdownify }}
</div>
{% endfor %}
