---
layout: base
permalink: /projects/
---

<section class="border-bottom py-4">
	<div class="container">
		<h1>Projects</h1>
		<p>
			I've written a lot of software. Most of it is buggy, inefficient, out of
			date, or otherwise incomplete, but I like to make it public so people can
			see what I'm working on.
		</p>
		<p>
			Actually, there is a lot of discourse about how such "indie software" should
			be shared with the community. You can read more about that <a href="/community/">here</a>.
		</p>
	</div>
</section>

<div class="container mt-3 mb-5">
	{% for category in meta.categories %}
	<h3>{{ category.title }}</h3>
	<p class="mt-0">{{ category.desc }}</p>
	<div class="row">
		{% for pg in collections[category.id] %}
		<div class="col col-12 col-md-6 col-xl-4 pb-3">
			{% assign project = git.projects | where: 'id', pg.fileSlug | first %}
			{% include "item/project.liquid", project: project %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
