<footer class="footer bg-primary mt-5">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-3 mb-3">
        <h1 class="text-on-primary" style="font-size: 1rem;">Links</h1>
        <a class="footer-link text-on-primary" href="https://code.horrific.dev/james/jfenn.me">Website Source Code</a>
        <a class="footer-link text-on-primary" href="/contact/">Contact Me</a>
        <a class="footer-link text-on-primary" href="/policies/?web">Privacy Policy</a>
      </div>
      <div class="col col-12 col-md-3 d-none d-md-block mb-3">
        <h1 class="text-on-primary" style="font-size: 1rem;">Community</h1>
        <a class="footer-link text-on-primary" href="https://unicorn-utterances.com">Unicorn Utterances</a>
        <a class="footer-link text-on-primary" href="https://horrific.dev">Horrific.Dev</a>
      </div>
      <div class="col col-12 col-md-3 d-none d-md-block mb-3">
        <h1 class="text-on-primary" style="font-size: 1rem;">Elsewhere</h1>

        {% assign links = "twitter fediverse linkedin twitch bandcamp" | split: " " %}
        {% for link in links %}
          <a
            rel="me"
            class="footer-link text-on-primary"
            href="{{ meta.links[link] }}">{{ link | capitalize }}</a>
        {% endfor %}
      </div>
      <div class="col col-12 col-md-3 pt-5">
        <div class="d-flex">
          <a
            class="link text-on-primary"
            href="https://code.horrific.dev/james/jfenn.me"
            aria-label="Source Code">
            {% include "ic/git.svg" %}
          </a>
          <a
            class="link text-on-primary"
            href="https://discord.jfenn.me"
            aria-label="Discord">
            {% include "ic/discord.svg" %}
          </a>
        </div>

        <div class="d-flex mt-3" hidden>
          <input
            id="darkMode"
            type="checkbox"
            name="darkMode"
            onchange="document.documentElement.className = `--theme-${this.checked ? 'dark' : 'light'}`; localStorage.setItem('darkMode', this.checked)">
          <label for="darkMode" class="text-on-primary text-on-primary-all">Dark Mode</label>
        </div>
      </div>
    </div>
  </div>
</footer>