---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: {{ meta.name }}
  subtitle: {{ meta.description }}
  url: "https://jfenn.me/"
  author:
    name: {{ meta.name }}
	email: {{ meta.email }}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.name }}</title>
  <subtitle>{{ meta.description }}</subtitle>
  <link href="{{ permalink | url | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ meta.name }}</name>
    <email>{{ meta.email }}</email>
  </author>
  {%- for post in collections.blog | reverse -%}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
	<description>{{ post.data.description }}</description>
	<pubDate>{{ post.date | rssDate }}</pubDate>
    <updated>{{ post.date | rssDate }}</updated>
	<link href="{{ absolutePostUrl }}"/>
	<guid isPermaLink="true">{{ absolutePostUrl }}</guid>
    <id>{{ absolutePostUrl }}</id>
  </entry>
  {%- endfor %}
</feed>
