---
layout: default
title: FOUR HUNDRED AND FOUR
permalink: /404.html
---

<main class="container text text-center pt-5">
	<h1>Error 404</h1>
	<p>Unfortunately, the page you're looking for doesn't exist. Maybe you made a typo, or maybe the page was moved or deleted.</p>
	<p class="mt-5"><a class="btn btn-accent" href="/">Homepage</a></p>
</main>
